*.o
*.d
*.a
*.ko
*.so
*.elf
*.bin
*.hex
*.dis
*.map
*.dasm
*.dump
*.verilog
*.symvers
tags
si
.project
cscope*
*.txt
gdb.init
.vscode/*.*
.vscode/settings.json
__pycache__/
3rdparty/os/RT-Thread/config.mk
3rdparty/os/RT-Thread/src.mk
3rdparty/os/RT-Thread/Makefile